<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rahul-Karishma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid text-center container-wrap padding-none">
           <div class="col-md-12 col-xs-12 padding-none">
                    <p class="title"><span></span>We are getting married!<span></span></p>
                    <ul class="names">
                        <li>Rahul</li>
                        <li class="circle">&amp;</li>
                        <li>Karishma</li>
                    </ul>
                    <div class="date">Feb <span>9</span> 2019</div>
                    <div class="hour">8:00 <span>pm</span></div>
                    <div class="place">
                        <h3>#Haldwani</h3>
                    </div>
             </div>
</div>

</body>
</html>
